html {
    font-family: "FreeSans", sans-serif;
}

#content {
    width: 210px;
}

h2 {
    margin: 10px 0 2px 0;
    line-height: 1em;
    font-size: 1.3em;
}

.text {
    margin: 3px 0;
}

row {
    display: inline-block;
}

button {
    height: 22px;
    outline: none;
    font-size: 0.9em;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 2px 0;
    background-color: #eee;
}

button:hover {
    border: 1px solid #bbb;
    background-color: #e7e7e7;
}

button:active {
    border: 1px solid #bbb;
    background-color: #ddd;
}

hr {
    border: 1px solid #ddd;
}

.red-btn {
    border: 1px solid #d46b6b;
    background-color: #f8a9a9;
}

.red-btn:hover {
    border: 1px solid #d86464;
    background-color: #f89e9e;
}

.red-btn:active {
    border: 1px solid #d85b5b;
    background-color: #ff8c8c;
}
